<app-nav-header></app-nav-header>

<div id="wrapper">
    <app-nav-sidebar></app-nav-sidebar>

    <div id="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
          </ol>
        </div> <!-- /.container-fluid -->
    </div> <!-- /.content-wrapper -->

    <app-nav-footer></app-nav-footer>
</div> <!-- /#wrapper -->