<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/hakens">
          <i class="fas fa-fw fa-address-book"></i>
          <span>Hakens</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/companies">
          <i class="fas fa-fw fa-industry"></i>
          <span>Companies</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/jobs">
          <i class="fas fa-fw fa-bullhorn"></i>
          <span>Jobs</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/employees">
        <i class="fas fa-fw fa-users"></i>
        <span>Employees</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/recruits">
        <i class="fas fa-fw fa-user-plus"></i>
        <span>Recruits</span>
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/about">
        <i class="fas fa-fw fa-code"></i>
        <span>About</span>
      </a>
    </li>
  </ul>